<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <a class="navbar-brand" id="GS" href="#">GitSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-links">
          <li class="nav-item nav-link" routerLink="usersprofile">Users</li>
          <li class="nav-item nav-link" routerLink="repolist">Repositories</li>
        </ul>
      </div>
</nav>
